$headerHeight: 80;
$headerMobileHeight: 110;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

@mixin contentsWidth {
  width: 100%;
  max-width: 1120px;
}

@mixin postViewWidth {
  width: 100%;
  max-width: 1024px;
}

@mixin mobile {
  @media (min-width: 0px) and (max-width: #{$breakpoint-tablet - 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

:export {
  headerHeight: $headerHeight;
  headerMobileHeight: $headerMobileHeight;
};