$headerHeight: 80;
$headerMobileHeight: 110;

$breakpoint-mobile: 500px;
$breakpoint-tablet: 960px;
$breakpoint-desktop: 1040px;

@mixin contentsWidth {
  width: 100%;
  max-width: 1120px;
}

@mixin postViewWidth {
  width: 100%;
  max-width: 1040px;
}

@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

:export {
  headerHeight: $headerHeight;
  headerMobileHeight: $headerMobileHeight;
};